* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #fff;
  font-size: clamp(1rem, 1.1vw, 1.25rem);
}

body > * {
  --layout-spacing: max(1vh, 1rem);
  --max-width: 50ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: var(--layout-spacing);
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  main {
    margin-top: 0;
  }

  body > * {
    --max-width: 100%;
  }
}
